/* Font */@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #D9C64E;
    font-family: 'Teko', sans-serif;
}
body{
    margin: auto;
    background-color: #0A2028;
    display: flex;
	justify-content: center;
	align-items: center
}
#main-container{
    display: grid;
    margin: 7rem 0rem 0rem 0rem;
    border: 1px solid black;
    gap: .5rem;
    grid-template-areas:
    "result result result result"
    "o-para c-para percentage AC"
    "seven eight nine divide"
    "four five six multi"
    "one two three minus"
    "zeros dots equal plus";
    height: 50rem;
    width: 30%;
}


/* Buttons */
button{
    background:#335B50;
    border: 1px solid #DA712E;
    padding: 1rem;
}
button:hover {
    background-color: #DA712E;
}
button:active {
    background-color: #DA712E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* Result */
#result-screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #DA712E;
    padding: 1rem;
    grid-area: result;
    background:#335B50;
}


/* Buttons Numbers */
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zeros;
}


/* Buttons special Characteristics */
#divide{
    grid-area: divide;
}
#plus{
    grid-area: plus;
}
#minus{
    grid-area: minus;
}
#o-para{
    grid-area: o-para;
}
#c-para{
    grid-area: c-para;
}
#multiply{
    grid-area: multi;
}
#dot{
    grid-area: dots;
}
#percentage{
    grid-area: percentage;
}
#equal{
    grid-area: equal;
}
#AC{
    grid-area: AC;
}